@import url(https://fonts.googleapis.com/css?family=Roboto:100);
* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
}
#bodymovin {
    height: 500px;
    width: 600px;
  display: flex;
      justify-content: center;
    align-items: center;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  text-align: center;
  opacity: 1;
    /*position: fixed;*/

       /*position: absolute;*/

    padding: 10px;
    border-radius: 41px;

    z-index: 2;

    font-size: 15px;


    position: absolute;
    top: 45%;
    left: 50%;
    margin-left: -300px; /*half of the POSITION LEFT*/
    margin-top: -250px; /*half of the POSITION TOP*/
    padding: 10px;

    color: black !important;


}
#close {
  transition: opacity 0.4s ease 0.1s, color 0.2s, transform 0.2s;
  opacity: 0;
  border: none;
  background: none;
  position: fixed;
  top: -10px;
  right: 5px;
  font-size: 2em;
  padding: 1em;
  cursor: pointer;
  z-index: 4;
}
.open #close {
  opacity: 1;
}
#close:focus {
  outline: none;
  transform: scale(1.1);
}
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 3;

}
.modal__content {
  opacity: 0;
  transform: scale(0.8) translate3D(0, -20px, 0);
  transition: opacity 0.2s, transform 0.8s cubic-bezier(0.09, 0.52, 0.25, 1);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1em;
}
.modal h1 {
  text-transform: uppercase;
  letter-spacing: 0.4em;
}
.modal p {
  max-width: 25em;
  line-height: 1.9;
}
.open .modal__content {
  opacity: 1;
  transform: scale(1) translate3D(0, 0, 0);
}


#topicModal{

background-color: lightblue;
display: inline-block;
width: 100px;
border-radius: 40px;
font-weight: bold;


}
#imageModal{

    background-color: /*palevioletred*/rgba(227,126,202,255)
;
    display: inline-block;
    width: 100px;
    border-radius: 40px;
    font-weight: bold;

}#questionModal{

    background-color: limegreen;
    display: inline-block;
    width: 100px;
    border-radius: 40px;
    font-weight: bold;


}

#answerModal{

    background-color: /*lavender*/rgba(245,123,40,255)
;
    display: inline-block;
    width: 100px;
    border-radius: 40px;
            font-weight: bold;

}

#info{

    cursor: pointer;
    z-index: 1;
    display: flex;
}


.hide{

    display: none;
}

.show{

    display: block;
}

.body-grey{

    background-color: rgba(0,0,0,0.4);
}

#modalDiv{

    background-color: rgba(0,0,0,0.0);
    width: 100%;
    height: 100%;
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; 

}